.counter{
    margin: 0;
    padding: 5px;
    width: 370px;
    text-align: center;
    font-size: 26px;
    border-radius: 5px;
    font-weight: 400;
    color: #59554e;
    background-color: #a1c1be;
}
.counter-span{
    margin: 0;
    font-weight: 500;
}
.counter-span-completed{
    color: #c5fcaf;
}
.counter-span-incompleted{
    color: #e58585;
}
@media (max-width: 600px) {
    .counter{
        width: 80%;
        font-size: 24px;
    }
}