.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 26px;
    font-size: 56px;
    letter-spacing: 4px;
    color: #59554e;
}